.login-page {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: white;
}

.login-form {
  background-color: #0A0F0D;
  filter: drop-shadow(0 0 1em rgba(0, 204, 102, 0.5));
  padding: 2rem;
  width: 320px;
  display: flex;
  flex-direction: column;
    gap: 1rem;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.hint {
  font-size: 0.75rem;
  color: #CCCCCC;
  text-align: center;
}
