:root {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0A0F0D;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #66FFB2;
  border-radius: 0%;
  color: white;
  cursor: pointer;
  background-color: #0A0F0D;
  }
  
  button:hover,
  button:active {
    background: #66FFB2;
    border: 1px solid #00CC66;
    color: #1E2A26;
    transition: ease-in-out;
    transition-duration: 600ms;
  }
  
  button:focus {
    outline: none;
    box-shadow: 0 0 10px #00CC66;
  }
  
  button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #1E2A26;
  }
  
  label {
    display: block;
    font-size: 0.9rem;
  }
  
  .error {
    color: #FF4D4D;
    font-size: 0.8rem;
  }
  
  label> .input-clear {
    margin-bottom: 22px;
}

input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background: #0A0F0D;
  color: white;
  border: 0.5px solid #00CC66;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 0.25rem;
  transition: ease-in-out;
  transition-duration: 300ms;
}

input:focus {
  border-color: #00CC66;
  outline: none;
  box-shadow: 0 0 7px #00CC66;
  background-color: #0A0F0D;
}

.input-error {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background: #1E2A26;
  color: white;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 0.25rem;
  border: 0.5px solid #FF4D4D;
}
