.hacker-page {
    width: 80%;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
}

.cipher-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.cipher-list li {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    background-color: #0A0F0D;
    padding: 1rem;
    border-radius: 8px;
    text-align: left;
    height: 7rem;
}

.cipher-unlocked {
    filter: drop-shadow(0 0 1em rgba(0, 204, 102, 0.5));
}

.cipher-locked {
    filter: drop-shadow(0 0 1em rgba(255, 77, 77, 0.5));
}

.cipher-list button {
    width: 200px;
    margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
    .cipher-list {
        grid-template-columns: 1fr; 
        width: 80%;
    }
}
